@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

*{
  font-family: raleway;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search-bar{
  border-radius: 1.625rem;
  outline: none;
  border: none;
  padding: .2rem 3.5rem .2rem 1.5rem;
  font-size: 1.8rem;
  background: #f5f5f5f5;
  color: #FF9233;
  margin-top: 4%;
}

.header{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #BDBDBD;
  margin-bottom: 1.5%;
}

.header h1{
  font-size: 30px;
}

.select-bar{
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5%;
}

.container{
  width: 100%;
  display: flex;
}

.class-list{
  width: 50%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #BDBDBD;
  margin: 0;
  padding: 0;
}

.react-select-container{
  width: 250px;
  border-radius: 15px;
}

.react-select__control{
  width: 250px;
  color: green;
  border-radius: 15px;
}

.react-select__value-container{
color: #FFAA99;
border-radius: 15px;
}

.react-select__indicators{
color: yellow;
border-radius: 15px;
}

.react-select__menu{
color: #FF9233;
border-radius: 15px;
}

.react-select__option{


}

.reservations{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.reservation{
  background: #FF9233;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 5%;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  margin: 0 auto 40px;
  align-items: center;
  justify-content: center;
}
.signup-band{
  background-color: #FF9233;
  width: 100%;
  padding: 1%;
  font-size: 2rem;
  height: 15%;
  font-weight: bolder;
  /* padding: .10%; */
}
.signup-container{
  width: 100%;
  display: flex;
  max-height: 50vwh;
  overflow-y: hidden;
}

.image-half{
  background: url("./components/clients/img/mountainyoga.jpg");
  background-size: cover;
  width: 50%;
  height: 55%;
   position: absolute;
   left: 0px;
   height: 100%;
}
/* .image-half{
  width: 55%;
  height: 25%;
  max-width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: 
} */
/* .image-half img{
  width: 100%;
  height: 70%;
} */
.form-half{
  width: 50%;
   position: absolute;
   right: 0px;
   height: 100%;
   text-align: center;
}
.form-half form {
  display: inline-block;
  padding: 10%;
}
.form-half input{
  width: 52%;
  padding: 12px 20px;
  margin: 8px 0;
  font-weight: 600;
  font-size: 15px;
  display: inline-block;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-half button{
  width: 52%;
  background-color: #BDBDBD;
  color: #333333;
  font-weight: 600;
  font-size: 15px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.test {
  width: 30%;
}

a {
  text-decoration: none;
  color: Black;
}

.map{
  
}

.class-img-container{
  width: 27%;
}
.class-img{
  width: 80%;
  height: 70%;
  margin-top: 7%;
  border-radius: 5px;
}
.category-container{
  width: 43%;
}